.Text {
	white-space: pre-wrap;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #777777;
}
.Small {
	font-size: 12px;
}
.Mt {
	margin-top: 15px;
}
.Mb {
	margin-bottom: 15px;
}
.MtB {
	margin-top: 20px;
}
.MbB {
	margin-bottom: 20px;
}
.MaxHeight {
	max-height: 100px;
	overflow: hidden;
	position: relative;
}
.MaxHeight:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	/* height: 30px; */
	height: 30%;
	width: 100%;
	background: linear-gradient(0deg, rgb(255, 255, 255) 0, rgba(255, 255, 255, 0) 100%);
}
