.Paper {
	padding: 15px;
	background: #fff;
	box-shadow: 0px 5px 10px #e5e5e5;
	border-radius: 5px;
}
.Clear {
	box-shadow: none;
	border-radius: 5px;
}
.Tl {
	padding-top: 30px;
	padding-left: 30px;
}
.Trl {
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
}
.Trbl {
	padding: 30px;
}
.MinHeight {
	min-height: 560px;
}
.Mt {
	margin-top: 15px;
}
.Mb {
	margin-bottom: 15px;
}
.Sign {
	padding: 60px 65px 30px;
	width: 560px;
}
.Center {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	margin-top: 40px;
}
@media (max-width: 960px) {
	.CancelMinHeight {
		min-height: auto;
	}
}
@media (max-width: 600px) {
	.Sign {
		padding: 30px 30px 15px;
		width: auto;
	}
}
