.Wrapper {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 100vh;
}
.LandingPage {
	/* min-height: 100%; */
	position: relative;
	z-index: 1;
	padding-bottom: 0;
	font-family: PlayfairDisplay, sans-serif;
	/* height: calc(100vh - 104px); */
}
.LandingPage .SubPage {
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: -500;
}
.LandingPage * {
	font-family: PlayfairDisplay, sans-serif;
}
.Nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
}
.Nav img {
	width: 190px;
	height: auto;
}
.Dropdown {
	position: relative;
	z-index: 100;
}
.Dropdown h6 {
	cursor: pointer;
}
.Dropdown:hover ul {
	display: block;
}

.Dropdown ul {
	display: none;
	z-index: 999;
	position: absolute;
	top: 100%;
	background: #84848481;
	text-align: center;
	border: 1px solid #505050;
	box-sizing: border-box;
	border-radius: 4px;
	right: 0;
}
.Dropdown li {
	cursor: pointer;
	padding: 5px 50px;
	white-space: nowrap;
}
.Dropdown li * {
	color: #fff;
}
.Dropdown li:hover * {
	color: #000;
}
.Content {
	padding-top: 200px;
}
.Content * {
	line-height: 30px;
}
.Content *,
.Buttons *,
.Footer {
	font-size: 18px;
}
.Content span {
	font-weight: normal;
}
.Subcontent {
	margin-top: 30px;
}
.Buttons {
	display: flex;
	align-items: center;
}
.Buttons button,
.Buttons a {
	white-space: nowrap;
	cursor: pointer;
}
.Buttons button {
	width: 190px;
	line-height: 22px;
}
.Buttons a {
	color: #007bff;
}
.Buttons a:hover {
	color: rgba(0, 123, 255, 0.692);
}
.Buttons span {
	margin: 0 20px;
}
.Footer {
	padding: 70px 0 10px;
	background-color: #f0f0f0;
	text-align: center;
	margin-top: 30px;
	/* position: absolute; */
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

@media (max-width: 600px) {
	.Nav img {
		width: 150px;
	}
	.Content *,
	.Buttons *,
	.Footer {
		font-size: 14px;
	}
	.Content {
		padding-top: 100px;
	}
	.Buttons {
		margin-top: 5px;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}
	.Buttons span {
		margin: 10px 0;
	}
	.Buttons button {
		width: 150px;
		line-height: 18px;
	}
}
@media (max-width: 400px) {
	.Content {
		padding-top: 60px;
	}
}
