.Button {
	background: #eeeeee;
	border-radius: 4px;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	text-align: center;
	color: #777777;
	width: 90px;
	cursor: pointer;
	border: none;
	outline: none;
	/* padding-top: 7px; */
	padding: 7px 5px 8px;
	/* padding-bottom: 8px; */
	transition: all .25s ease;
}
.Button:hover {
	background: #bebebe;
	color: #777777;
}
.Button:hover * {
	color: #ffffff;
}
.Exit {
	background: transparent;
	width: 100%;
}
.Exit:hover {
	background: transparent;
}

.Blue {
	background: #007bff;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}
.Blue:hover {
	background: #0057b4;
	color: #ffffff;
}
.Green {
	background: #1bc47d;
	font-weight: normal;
	color: #ffffff;
}
.Green:hover {
	background: #005c36;
	color: #ffffff;
}
.Danger {
	background: red;
	font-weight: normal;
	color: #ffffff;
}
.Danger:hover {
	background: rgb(167, 0, 0);
	color: #ffffff;
}
.Danger * {
	color: #ffffff;
}
.Green * {
	color: #ffffff;
}
.Grey {
	background: #cccccc;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}
.Wider {
	width: 190px;
}
.Wider1 {
	width: 140px;
}
.Wide {
	width: 100%;
}
.Mtb {
	margin-top: 30px;
	margin-bottom: 30px;
}
.Mt {
	margin-top: 10px;
}
.Ptb {
	padding-top: 25px;
	padding-bottom: 25px;
}
.Dark {
	background: #000000;
	color: #ffffff;
}
.Dark:hover {
	background: #000;
}
.Dark * {
	color: #ffffff;
}
.Dark:hover * {
	color: rgba(255, 255, 255, 0.658);
}
.NoHover:hover {
	background: #eeeeee;
	color: #777777;
}
