.NavigationItem {
	display: block;
	font-size: 12px;
	margin-left: 30px;
}
.NavigationItem h6 {
	transition: all .5s ease;
}
.NavigationItem h6:hover {
	color: #007bff;
}
.Active h6 {
	color: #007bff;
}
.Vertical {
	width: auto;
	padding: 10px 0px;
	text-align: center;
	font-size: 20px;
	margin: 0;
}
.Vertical:first-child {
	margin-top: 20px;
}

.Vertical h5 {
	padding: 0 50px;
}
