.Input {
	background: #ffffff;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 7px 15px;
	font-size: 12px;
	line-height: 16px;
	color: #777777;
	width: 100%;
	cursor: auto;
}
.Mt {
	margin-top: 15px;
}
.Mb {
	margin-bottom: 15px;
}
.Ptb {
	padding-top: 25px;
	padding-bottom: 25px;
}
.File {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.FileLabel {
	cursor: pointer;
}
