.Input {
	background: #ffffff;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 7px 15px;
	font-size: 12px;
	line-height: 16px;
	color: #777777;
	width: 100%;
}
.Mt {
	margin-top: 15px;
}
.Ptb {
	padding-top: 25px;
	padding-bottom: 25px;
}
