.Publication {
	position: relative;
	cursor: pointer;
	padding: 15px;
}
.IconWrapper {
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
}
.Icon {
	transition: color .25s ease;
	color: #f04d4e;
	cursor: pointer;
	padding: 3px;
}
.Icon:hover {
	color: rgba(240, 77, 77, 0.61);
}
